[submodule "sasohan-server"]
	path = sasohan-server
	url = https://github.com/insanesclub/sasohan-server.git
[submodule "sasohan-mobile"]
	path = sasohan-mobile
	url = https://github.com/insanesclub/sasohan-mobile.git
